// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// lineawesome
@import '~line-awesome/src/line-awesome';

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  padding: 1.2rem 0;
}
